
hello-world-api/node_modules/

hello-world/hello-world-api/node_modules/

nest-example/node_modules/

shared-auth/backend/node_modules/

shared-auth/database/

ip-metallb/node_modules/

metallb/test-frontends/random-lol-champion/node_modules/
